<div class="container-fluid">
    <h2>
        <button class="btn btn-danger" ng-click="back()">Back</button>
        <span class="capitalize">{{application.name}}</span>
    </h2>
    <br />
    <table class="table table-striped">
        <tr>
            <th ng-repeat="(key, val) in labels">{{val.name}}
            </th>
            <th>{{childEntity}}</th>
        </tr>
        <tr ng-repeat="objects in  records">
            <td ng-repeat="(key, val) in labelsOriginal">{{objects['group'][val.name]}}
            </td>

            <td ng-if="childEntity">
                <a ng-if="test==2"  href="#/view/user/{{userName}}/applications/{{applicationId}}/running/view/{{buildState}}~{{objects['group']['_id']}}/{{childEntity}}/view">View {{childEntity}}</a>
                <a ng-if="test>2"  href="#/view/user/{{userName}}/applications/{{applicationId}}/running/view/{{nextState}}~{{objects['group']['_id']}}/{{childEntity}}/view">View {{childEntity}}</a>
            </td>
        </tr>
        <tr>
        </tr>
    </table>
    <a ng-if="listViewInsertable" href="#/pam/user/{{userName}}/applications/{{applicationId}}/running/newChild/{{buildState}}/{{collection}}">New</a>
</div>