<div class="container-fluid">
    <h2>
        <button class="btn btn-danger" ng-click="back()">Back</button>
        <span class="capitalize">{{application.name}}</span>
    </h2>
    <table class="table">
        <tr>
            <td>
                <a href="#/pam/user/user1/applications/{{applicationId}}/userInterfaces">User Interfaces</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#/pam/user/user1/applications/{{applicationId}}/services">Services</a>
            </td>
        </tr>
        <tr ng-click="go('/schemas')">
            <td>Schemas</td>
        </tr>
        <tr>
            <td>
                <button class="btn btn-block btn-success" ng-click="run()">Run</button>
            </td>
        </tr>
        <tr>
            <td ng-controller="chooseController">
                <button class="btn btn-block btn-success" ng-click="chooseRoot()">Select Root Entity</button>
            </td>
        </tr>
    </table>
    <div>
        <a href="#" class="btn btn-danger btn-block">Delete</a>
    </div>
</div>
