<div  class="container-fluid">
	<h2>
		<button class="btn btn-danger" ng-click="back()">Back</button>
		<span class="capitalize">Edit {{application.name}}</span>
	</h2>
	<table class="table">
		<tr ng-click="go('/uis')">
			<td>User Interfaces</td>
		</tr>
		<tr>
			<td>
				<a href="#/pam/user/user1/applications/{{applicationId}}/services">Services</a>
			</td>
		</tr>
		<tr ng-click="go('/schemas')">
			<td>Schemas</td>
		</tr>
	</table>
	<div>
		<a href="#" class="btn btn-success btn-block">Delete</a>
	</div>
</div>