<div  class="container-fluid col-md-4">
	<h2>
		<button class="btn btn-danger" ng-click="back()">Back</button>
		{{operationName}} End Point
	</h2>	
	<div ng-controller="putUrlController">
		<table class="table">
			<tr>
				<td><input placeholder="ID" ng-model="serviceId"></input></td>
			</tr>
			<tr ng-repeat="record in records | filter:serviceId">
				<td>
					<a href="#/pam/user/user1/applications/{{applicationId}}/services/{{serviceName}}/putOneUrl/{{record._id}}">{{record._id}}</a>
				</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-success btn-block" ng-click="putOneUrl(serviceId)">Update</button>
				</td>
			</tr>
		</table>
	</div>
</div>






