<div class="container-fluid">
    <h2>
        <button class="btn btn-danger" ng-click="back()">Back</button>
        <span class="capitalize">{{schemaName}} UI</span>
    </h2>
    <table class="table">
        <tr>
            <td>
                <a href="#/pam/user/user1/application/{{applicationId}}/userInterfaces/{{schemaName}}/listView">{{schemaName}} - List View</a>
            </td>
        </tr>

        <tr>
            <td>
                <a href="#/pam/user/user1/application/{{applicationId}}/userInterfaces/{{schemaName}}/editView">{{schemaName}} - Edit View</a>
            </td>
        </tr>
    </table>
</div>