<div  class="container-fluid">
	<h2>
		<button class="btn btn-danger" ng-click="back()">Back</button>
		<span class="capitalize">{{serviceName}} Service</span>
	</h2>
	<table class="table">
		<tr>
			<td>
				<a href="#/pam/user/user1/applications/{{applicationId}}/services/{{serviceName}}/postUrl">Create End Point</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#/pam/user/user1/applications/{{applicationId}}/services/{{serviceName}}/readAllUrl">Read All End Point</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#/pam/user/user1/applications/{{applicationId}}/services/{{serviceName}}/readByIdUrl">Read By Id End Point</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#/pam/user/user1/applications/{{applicationId}}/services/{{serviceName}}/putUrl">Update End Point</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="#/pam/user/user1/applications/{{applicationId}}/services/{{serviceName}}/deleteUrl">Delete End Point</a>
			</td>
		</tr>		
		<tr>
			<td>
				<a href="#/pam/user/user1/applications/{{applicationId}}/services/{{serviceName}}/searchUrl">Search End Point</a>
			</td>
		</tr>		
	</table>	
</div>